<!-- FACES -->
<div class=" absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 pb-5">
    @if((gameState?.winner ?? -1) !== -1) {
    <img src="/assets/laughing.gif" />
    }
    @else if(gameState?.player1?.joke && gameState?.player2?.joke) {
    <img src="/assets/thinking.gif" />
    }
    @else if(gameState?.player1?.joined && gameState?.player2?.joined) {
    <img src="/assets/idle.gif" />
    }
</div>

<div class="relative min-h-screen flex items-end justify-center bg-opacity-75 from-slate-900"
    [class.bg-gradient-to-t]="(gameState?.winner ?? -1) !== -1 || gameState?.player2?.joined === false">
    <div class="p-10 min-w-full flex items-end justify-between">
        <div></div>
        <div class="min-w-[50%] flex flex-col align-middle gap-5">
            @if(gameState?.player2?.joined && (playerNumber == 1 ? !gameState?.player1?.joke :
            !gameState?.player2?.joke)){
            <div class="text-3xl text-green-50 font-mono text-center">Hello Player {{playerNumber}}! Tell me a
                <strong>{{gameState?.theme}}</strong>!
            </div>}
            <input [disabled]="hasSubmitted" type="text" placeholder="Enter your joke here.." [(ngModel)]="joke"
                (keyup.enter)="onEnter()"
                class="text-green-50 text-xl disabled:opacity-50 disabled:border-green-200 min-w-[50%] bg-transparent appearance-none border-2 border-slate-500 rounded h-13 py-3 px-4 leading-tight focus:outline-none focus:border-green-100">
        </div>
        <div></div>
    </div>
</div>

<div class="absolute top-4 left-4 text-xl font-mono text-green-50">ROOM ID: {{gameId}}</div>
<div class="absolute top-10 left-4 font-mono" hidden>DEBUG: {{gameState | json}}</div>

<!-- CENTERED STUFF -->
<div class=" absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
    @if(gameState?.player2?.joined === false) {
    <div class="animate-bounce text-3xl text-green-50 font-mono">Waiting for a second player to join...</div>
    }
    @else if((gameState?.winner ?? -1) !== -1) {
    <div class="flex flex-col gap-4 text-green-50 font-mono items-center text-center">
        <div class="text-3xl">bash laugh -m "Player {{gameState?.winner}} had a good one!"</div>
        <div>"{{ gameState?.winner === 1 ? gameState?.player1?.joke : gameState?.player2?.joke }}"</div>
    </div>
    }
</div>